/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

				* ------- Colors ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$black: #222222;
$white: #fdfdfd;
$red: #BF2D32;
$grey: #f4f4f4;
$dark-grey: #dddddd;
